<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>

</head>
<body style="background: beige">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-family: 'Amita';font-size: 22px;">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
                <li><a th:href="@{/tools}">Tools</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">something</div>
    <div class="page-header"><h3 style="color: blue">Add a new Raw Material:</h3></div>
    <form th:action="@{/addRawMaterial}" th:object="${material}" method="post" >
        <label>Material Name</label><input type="text" th:field="*{materialName}" placeholder="Material Name"
                                           class="form-control mb-4 col-4" id="material_name"><br>

        <label>Type</label><input type="text" th:field="*{type}" placeholder="Type" class="form-control mb-4 col-4" id="material_type"><br>
        <label>Total Units Available</label><input type="text"
                                                   th:field="*{total_available}" placeholder="Total Part Available"
                                                   class="form-control mb-4 col-4"><br>

        <label>Per Unit Cost</label><input type="text" th:field="*{cost_per_unit}" placeholder="Per Unit Cost" class="form-control mb-4 col-4" id="cost"><br>

        <button type="submit" class="btn btn-info">Add</button> <button
            type="reset" class="btn btn-warning">Reset</button>
    </form>
</div>
</body>
</html>