<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
            </ul>
        </div>
    </nav>
    <h3>Requirements List</h3>
    <a th:href="@{/addRequirement/{id}(id=${part.part_id})}" class="btn btn-primary brn-sm mb-3">Add a new Requirement</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Cost Per Unit</th>
            <th>Units Required</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${all_requirements.empty}">
            <td colspan="5">No Requirement Added Yet</td>
        </tr>
        <tr th:each="requirement: ${all_requirements}">
            <td><span th:text="${requirement.rawMaterial.material_name}">Name</span></td>
            <td>
                <span th:text="${requirement.rawMaterial.type}">Metal Type</span>
            </td>
            <td><span th:text="${requirement.rawMaterial.cost_per_unit}">Cost Per Unit</span></td>
            <td><span th:text="${requirement.units_required}">Units Required</span></td>

            <td>
                <a th:href="@{/requirementUpdateForm/{id}(id=${requirement.requirement_id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteRequirement/{id}(id=${requirement.requirement_id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
