<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>

</head>
<body style="background: beige">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-family: 'Amita';font-size: 22px;">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
                <li><a th:href="@{/tools}">Tools</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">error occurred!</div>
    <div class="page-header"><h3 th:text = "${'Products assembled by ' + employee.name}" style="color: blue" s></h3></div>
    <a th:href="@{/addAssembles/{id}(id=${employee.employee_id})}" class="btn btn-primary brn-sm mb-3">Add new work</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Date</th>
            <th>Count</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${all_assembles.empty}">
            <td colspan="6">Nothing done.</td>
        </tr>
        <tr th:each="assembles: ${all_assembles}">
            <td><span th:text="${product_name_mapping.get(assembles.product.getProduct_id())}">Product Name</span></td>
            <td><span th:text="${#strings.toString(assembles.day) + '/' + #strings.toString(assembles.month) + '/' + #strings.toString(assembles.year)}">Assembly date</span></td>
            <td><span th:text="${assembles.count}">Count</span></td>

            <td><a th:href="@{/deleteAssembles/{id}(id=${assembles.assembles_id})}"
                   class="btn btn-danger">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
