<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
                <li><a th:href="@{/tools}">Tools</a></li>
            </ul>
        </div>
    </nav>
    <h3>Products List</h3>
    <a th:href="@{/addProduct}" class="btn btn-primary brn-sm mb-3">Add a new Product</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Total Available</th>
            <th>Total Defective</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${all_products.empty}">
            <td colspan="4">No Product Available.</td>
        </tr>
        <tr th:each="product: ${all_products}">
            <td><span th:text="${product.product_name}">Product Name</span></td>
            <td><span th:text="${product.total_available}">Total Available</span></td>
            <td><span th:text="${product.total_defective}">Total Defective</span></td>

            <td>
                <a th:href="@{/productUpdateForm/{id}(id=${product.product_id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteProduct/{id}(id=${product.product_id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
