<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
</head>
<body style="background: beige">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-family: 'Amita';font-size: 22px;">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
                <li><a th:href="@{/tools}">Tools</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">error occurred!</div>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">error occured!</div>
    <div class="page-header"><h3 th:text="${'parts made by ' + employee.name}" style="color: blue">Parts List</h3></div>
    <a th:href="@{/addWorks/{id}(id=${employee.employee_id})}" class="btn btn-primary brn-sm mb-3">Add a new work</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${all_works.empty}">
            <td colspan="5">No Part Available.</td>
        </tr>
        <tr th:each="work: ${all_works}">
            <td><span th:text="${work.part.partName}">Name</span></td>
            <td><span th:text="${#strings.toString(work.day) + '/' + #strings.toString(work.month) + '/' + #strings.toString(work.year)}"></span></td>
            <td><span th:text="${work.amount}">Amount</span></td>

            <td>
                <a th:href="@{/deleteWork/{id}(id=${work.worksId})}" class="btn btn-info">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
