<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
</head>
<body style="background: beige">
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-family: 'Amita';font-size: 22px;">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
                <li><a th:href="@{/tools}">Tools</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">error occurred!</div>
    <div class="page-header"><h3 th:text="${product.productName + ' uses parts'}" style="color: blue">Uses Parts</h3></div>
    <br>
    <form th:action="@{/addPartsRequired/{id}(id=${product.product_id})}" th:object="${part}" method="post">
        <div>
            <select th:field="*{part_id}">
                <option th:each="p:${all_parts}" th:value="${p.part_id}" th:text="${p.partName}">option</option>
            </select>
            <br><br>
            <button type="submit" class="btn btn-primary">Add Part</button>
        </div>
    </form>
    <br><br>
    <div th:if="${parts_req.empty}">No Parts added.</div>
    <ol th:each="p: ${parts_req}" class="list-group">
        <div th:if="${p.total_available == 0}" class="list-group-item list-group-item-danger">
            <div th:text="${p.partName}">Part Name</div>
            <div style="text-align: right;"><a th:href="@{/deletePartsRequirement/{product_id}/{part_id}(product_id=${product.product_id}, part_id=${p.part_id})}"><button class="btn btn-danger">delete</button></a></div>
        </div>
        <div th:if="${p.total_available != 0}" class="list-group-item list-group-item-success">
            <div th:text="${p.partName}" >Part Name</div>
            <div style="text-align: right;"><a th:href="@{/deletePartsRequirement/{product_id}/{part_id}(product_id=${product.product_id}, part_id=${p.part_id})}"><button class="btn btn-danger">delete</button></a></div>
        </div>
    </ol>
</div>

</body>
</html>
