<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
                <li><a th:href="@{/tools}">Tools</a></li>
            </ul>
        </div>
    </nav>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">error occurred!</div>
    <h1>Update Raw Material:</h1>
    <form th:action="@{/addUpdatedMaterial}" th:object="${material}" method="post">
        <input type="hidden" th:field="*{material_id}">
        <label>Material Name</label><input type="text" th:field="*{materialName}" placeholder="Part Name"
                                           class="form-control mb-4 col-4"><br>

        <label>Total Units Available</label><input type="text"
                                                   th:field="*{total_available}" placeholder="Total Part Available"
                                                   class="form-control mb-4 col-4"><br>

        <label>Type</label><input type="text" th:field="*{type}" placeholder="Type" class="form-control mb-4 col-4"><br>
        <label>Per Unit Cost</label><input type="text" th:field="*{cost_per_unit}" placeholder="Per Unit Cost" class="form-control mb-4 col-4"><br>

        <button type="submit" class="btn btn-info">Update</button>
    </form>
</div>
</body>
</html>