<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
	   function convert() {	        	        	        
	        var del_status = document.getElementById("delivery_status").value;
	    	var delivered = "Y";
	    	console.log(delivered);
	    	if (del_status === delivered) {
	    		console.log("here");
	    		var date2 = new Date(document.getElementById("delivery_date").value);
	    		document.getElementById("delivery_year").value = String(date2.getFullYear());
		        document.getElementById("delivery_month").value = String(parseInt(date2.getMonth()) + 1);
		        document.getElementById("delivery_day").value = String(date2.getDate());
		        console.log(document.getElementById("delivery_month"));
	    	}
	    }
	    function set() {
	    	var dd = document.getElementById("purchase_day").value.padStart(2, 0); 
	        var mm = String(document.getElementById("purchase_month").value).padStart(2, 0);
	        var yy = document.getElementById("purchase_year").value
	        console.log(dd + "-" + mm + "-" + yy);
	        document.getElementById("purchase_date").value = yy + "-" + mm + "-" + dd;
	        var del_status = document.getElementById("delivery_status").value;
	        if (del_status === "Y") {
	        	var d = document.getElementById("delivery_day").value.padStart(2, 0);
	        	var m = document.getElementById("delivery_month").value.padStart(2, 0);
	        	var y = document.getElementById("delivery_year").value;
	        	document.getElementById("delivery_date").value = y + "-" + m + "-" + d;
	        }
	    }
	    function validate() {
	    	var del_status = document.getElementById("delivery_status").value;
	    	console.log(del_status)
	    	var delivered = "Y"
	    	if (del_status.localeCompare(delivered) == true && isNaN(document.getElementById("delivery_day"))) {
				alert("please check the delivery date");
				return false;
	    	}
	    	return true;
	    }
    </script>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
</head>
<body style="background: beige" onload="set()">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="font-family: 'Amita';font-size: 22px;">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
                <li><a th:href="@{/tools}">Tools</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
<div class="container">
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">error occurred!</div>
    <div class="page-header"><h3 style="color: blue">Update Purchase details:</h3></div>
    <form th:action="@{/addPurchase}" method="post" th:object="${purchase}" onsubmit="return validate()">
        <input type="hidden" th:field="*{purchase_id}">
        <input type="hidden" th:field="*{customer}">        
        
       
		
        <div class="form-group row">
        	<label class="col-sm-2 col-form-label">Product</label>
        	<div class="col-sm-5">
        	<select th:field="*{product.product_id}" class="form-control">
            	<option th:each="p: ${all_products}" th:value="${p.product_id}" th:text="${p.productName}"></option>
        	</select>
        	</div>
        </div>
        <div class="form-group row">
				<label class="col-sm-2 col-form-label">Purchase Date</label>
				<div class="col-sm-5">
					<input type="date" class="form-control" placeholder="date" id="purchase_date" >
				</div>	
		</div>        

		<div class="form-group row">
        	<label class="col-sm-2 col-form-label">Selling Price</label>
        	<div class="col-sm-5">
        	<input type="text" th:field="*{selling_price}" placeholder="Sold at" class="form-control mb-4 col-4"><br>
        	</div>
        </div>
		
		<div class="form-group row">
        <label class="col-sm-2 col-form-label">Transaction Status</label>
        <div class="col-sm-5">
        <select th:field="*{transaction_status}" class="form-control">
            <option th:value="Y">Completed</option>
            <option th:value="N">Pending</option>
        </select>
        </div>
        </div>
        
		<div class="form-group row">
        <label class="col-sm-2 col-form-label">Delivery Status</label>
        <div class="col-sm-5">
        <select th:field="*{delivery_status}" class="form-control" id="delivery_status">
            <option th:value="Y">Delivered</option>
            <option th:value="N">Not Delivered</option>
        </select>
        </div>
        </div>
        
        <div class="form-group row">
				<label class="col-sm-2 col-form-label">Delivery Date</label>
				<div class="col-sm-5">
					<input type="date" class="form-control" placeholder="date" id="delivery_date" >
				</div>	
		</div>        
        
		<div class="form-group row">
        <label class="col-sm-2 col-form-label">Transportation Cost</label>
        <div class="col-sm-2">
        <input type="text" th:field="*{transportation_cost}" placeholder="Transportation Cost" class="form-control mb-4 col-4"><br>
        </div>
        </div>
		
		<div class="form-group row">
        <label class="col-sm-2 col-form-label">Amount Ordered</label>
        <div class="col-sm-5">
        <input type="text" th:field="*{amount}" placeholder="Amount Ordered" class="form-control mb-4 col-4"><br>
		</div>
		</div>                                          
		
		<div class="form-group row">
        <label class="col-sm-2 col-form-label">Guarantee Given</label>
        <div class="col-sm-5">
        <input type="text" th:field="*{guarantee_given}" placeholder="Guarantee Given" class="form-control mb-4 col-4"><br>
        </div>
        </div>

        <input type="hidden" th:field="*{purchase_day}" id="purchase_day">

        <input type="hidden" th:field="*{purchase_month}" id="purchase_month">

        <input type="hidden" th:field="*{purchase_year}" id="purchase_year">

        <input type="hidden" th:field="*{delivery_day}" id="delivery_day">

        <input type="hidden" th:field="*{delivery_month}" id="delivery_month">

        <input type="hidden" th:field="*{delivery_year}" id="delivery_year">
               

        <button type="submit" class="btn btn-info" onclick="convert()">Update</button> <button type="reset" class="btn btn-warning">Reset</button>
    </form>
</div>
</body>
</html>