<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Factory Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Factory Management</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/employees}">Employees</a></li>
                <li><a th:href="@{/products}">Products</a></li>
                <li><a th:href="@{/customers}">Customers</a></li>
                <li><a th:href="@{/parts}">Parts</a></li>
                <li><a th:href="@{/rawMaterials}">Materials</a></li>
            </ul>
        </div>
    </nav>
    <h1>Update Requirement:</h1>
    <form th:action="@{/addUpdatedRequirement}" method="post" th:object="${requirement}">
        <input type="hidden" th:field="*{requirement_id}">
        <p><b>Material Name: </b></p><p><b th:text="*{rawMaterial.material_name}">material name</b></p><br><br>
        <label>Type: </label><p><b th:text="*{rawMaterial.type}">Metal Type</b></p>
        <label>Per Unit Cost: </label><p><b th:text="*{rawMaterial.cost_per_unit}">Per Unit Cost</b></p>

        <label>Units Required</label><input type="text"
                                            th:field="*{units_required}" placeholder="Units Required"
                                            class="form-control mb-4 col-4"><br>


        <button type="submit" class="btn btn-info">Update</button>
    </form>
</div>
</body>
</html>